# Files to ignore
*.swp
*.swo
home/.vim/plugged
home/.ncmpcpp/error.log
home/.ncmpcpp/artists/

home/.wallpapers/.current

# Ignore dwb state file
config/dwb/keys.*
config/dwb/default/cookies
config/dwb/default/history
config/dwb/default/navigate.history
config/dwb/default/session
home/.vim/.netrwhist
