# Files to ignore
*.swp
*.swo
home/.vim/bundle
!home/.vim/bundle/vundle
home/.ncmpcpp/error.log
home/.ncmpcpp/artists/

# Ignore dwb state file
config/dwb/keys.*
config/dwb/default/cookies
config/dwb/default/history
config/dwb/default/navigate.history
config/dwb/default/session
