[submodule "vim/bundle/vundle"]
  path = vim/bundle/vundle
  url = http://github.com/gmarik/vundle
[submodule "vim/bundle/sjl/gundo.vim"]
  path = vim/bundle/gundo.vim
  url = http://github.com/sjl/gundo.vim
[submodule "vim/bundle/vim-matchit"]
  path = vim/bundle/vim-matchit
  url = http://github.com/jwhitley/vim-matchit
[submodule "vim/bundle/fugitive.vim"]
  path = vim/bundle/fugitive.vim
  url = http://github.com/vim-scripts/fugitive.vim
[submodule "vim/bundle/vim-rails"]
  path = vim/bundle/vim-rails
  url = http://github.com/tpope/vim-rails
[submodule "vim/bundle/vim-coffee-script"]
  path = vim/bundle/vim-coffee-script
  url = http://github.com/kchmck/vim-coffee-script
[submodule "vim/bundle/vim-markdown"]
  path = vim/bundle/vim-markdown
  url = http://github.com/plasticboy/vim-markdown
[submodule "vim/bundle/molokai"]
  path = vim/bundle/molokai
  url = http://github.com/tomasr/molokai
