# Git global settings
# ~/.gitconfig

#:: User Info
[github]
  user = everett1992
[user]
  name =  Caleb Everett
  email = everett.caleb@gmail.com

#:: Settings
[core]
  autocrlf = input
  safecrlf = true
  excludesfile = ~/.gitignore
[push]
  default = matching
[merge]
  tool = vimdiff
[rerere]
  enabled=true
[push]
  default = simple

#:: Alias
[alias]
  a = add -v
  ad = add -v
  lg = log --decorate --graph --oneline --all --abbrev-commit
  lgs = !git --no-pager log --decorate --graph --oneline --all --abbrev-commit -5
  lga = log --all --graph --pretty=format:'%Cred%h - %C(bold blue)<%an>%Creset %Cgreen[%cr]%Creset %s %C(yellow)%d%Creset' --abbrev-commit
  sh = show --name-status
  unstage = reset HEAD --
  st = status -sb
  ru = remote update

#:: Colors
[color]
  branch = always
  diff =   always
  status = always
  ui = 1
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
