# User Info
[github]
	user = everett1992
[user]
	name =  Caleb Everett
	email = everett.caleb@gmail.com

# Settings
[core]
	autocrlf = input
	safecrlf = true
	excludesfile = /home/caleb/.gitignore
[push]
	default = matching
[merge]
	tool = vimdiff


# Configs and Alias
[merge]
	tool = vimdiff
[alias]
  lg = log --decorate --graph --oneline --all --abbrev-commit
  lgs = log --decorate --graph --oneline --all --abbrev-commit -5
  sh = show --name-status
  unstage = reset HEAD --
  st = status -sb
  ru = remote update

# Colors
[color]
  branch = always
  diff =   always
  status = always
	ui = 1
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[rerere]
  enabled=true
[push]
  default = simple
